@font-face {font-family: 'digital7'; src: url(fonts/digital7.ttf);}
@font-face {font-family: 'cafe-light'; src: url(fonts/cafe.ttf);}
*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  display: flex;
  height: 100vh;
  background: #202225;
  align-items: center;
  justify-content: center;
}
article{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 230px;
  width: 600px;
  border-radius: 3px;
  box-shadow: 0px 8px 10px #00000080;
}
#time-type{
  width: 130px;
  border-radius: 19px;
  box-shadow: 5px 5px 15px #00000080;
  margin: 16px;
  padding: 4px;
  text-align: center;
}
#append{
  display: flex;
  font-family: cafe-light;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  margin: 6px;
  align-items: center;
  flex-direction: column;
}
.append{
  text-align: center;
  background: #000;
  color: #8b8b8b;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  margin: 4px;
  box-shadow: 5px 5px 15px #00000080;
}
h1{
  display: inline;
  font-family: cafe-light;
  color: #fff;
  font-size: 20px;
  margin: 6px;
}
.clock{
  width: 150px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #00000080;
  letter-spacing: 3px;
}
.clock-numbers{
  font-family: 'digital7', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 68px;
  color: #8b8b8b;
}
.tempo{
  font-family: 'cafe-light', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
}
.switch{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #202225;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
input:checked + .slider:before{
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round{
  border-radius: 17px;
}
.slider.round:before{
  border-radius: 50%;
}